@(url: worker.Worker.ArticleURL, results:
Stream[Stream[(worker.Worker.SearchTerm, worker.Worker.Blocked)]])
<HTML>
<head>
    <title>Results</title>
    <link rel='shortcut icon' type='images/png'
          href='@routes.Assets.at("images/favicon.ico")'>

    <link rel='stylesheet'
          href='@routes.Assets.at("stylesheets/bootstrap.css")'>
    <link rel='stylesheet'
          href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/rtbf.css")'>

    <script src="@routes.Assets.at("javascripts/jquery.js")"></script>
    <script src="@routes.Assets.at("javascripts/jquery-ui.js")"></script>
    <script src="@routes.Assets.at("javascripts/dropdown.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/accordion.js")"></script>

</head>

<body>
<h2>Results</h2>
<ul class="list-group">
    @for(urlInfo <- results) {
    I have searched high and low and found... that these names weren't blocked:
    @for(searchTermStatus <- urlInfo) {

    @{if (searchTermStatus._2){
    <li> <span>...and that the likely complainant was:</span>
        <span class="blocked">{searchTermStatus._1} |
            <a href="https://www.google.co.uk/#q=Julien+Berissi+http%3A%2F%2Fwww.theguardian.com%2Fartanddesign%2F2011%2Faug%2F30%2Fparis-post-it-wars-french">results on EU</a>
            | <a href="https://www.google.com/?gws_rd=ssl#q=Julien+Berissi+http%3A%2F%2Fwww.theguardian.com%2Fartanddesign%2F2011%2Faug%2F30%2Fparis-post-it-wars-french">results on google.com</a>
        </span></li>
    }
    else
    {
    <li class="notblocked">
        {searchTermStatus._1} </li>
    }
    }

    }
    }

</ul>
</body>
</HTML>
