@(url: worker.Worker.ArticleURL, results: Stream[Stream[(worker.Worker.SearchTerm, worker.Worker.Blocked)]])



                    <ul class="list-group">
                        @for(urlInfo <- results) {
                        next url...
                        @for(searchTermStatus <- urlInfo) {
                        <li class="list-group-item">Name: @searchTermStatus._1 (isBlocked?: @searchTermStatus._2)</li>
                        }
                        }
                        End of results.
                    </ul>
