@(title: String)(content: Html)

<!DOCTYPE html>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!-->
    <html class="no-js">
            <!--<![endif]-->
        <head>
            <title>@title</title>
            <link rel='shortcut icon' type='images/png' href='@routes.Assets.at("images/favicon.ico")'>

            <link rel='stylesheet' href='@routes.Assets.at("stylesheets/bootstrap.css")'>
            <link rel='stylesheet' href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
            <link rel='stylesheet' href='@routes.Assets.at("stylesheets/rtbf.css")'>

            <script src="@routes.Assets.at("javascripts/jquery.js")"></script>
            <script src="@routes.Assets.at("javascripts/jquery-ui.js")"></script>
            <script src="@routes.Assets.at("javascripts/dropdown.js")"></script>
            <script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
            <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
            <script src="@routes.Assets.at("javascripts/accordion.js")"></script>

        </head>
        <body>
            <header>
                <img class="pull-right" alt="Guardian-Logo" src="@routes.Assets.at("images/guardian-logo.png")">

                <h1>Right to be forgotten - Who has!</h1>
            </header>

            <content>
                <h2>Right to be forgotten toolset</h2>
                <div id="item1">
                    <p>






                    </p>
                </div>
                </div>
            </content>
            <footer class="modal-footer">
                <p>&copy;2014 Guardian News and Media Limited or its affiliated companies. All rights reserved.</p>
            </footer>
        </body>
    </html>
</html>