@(title: String)(content: Html)

<!DOCTYPE html>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!-->
    <html class="no-js">
            <!--<![endif]-->
        <head>
            <title>@title</title>
            <link rel='shortcut icon' type='images/png' href='@routes.Assets.at("images/favicon.ico.pxm")'>

            <link rel='stylesheet' href='@routes.Assets.at("stylesheets/bootstrap.css")'>
            <link rel='stylesheet' href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
            <link rel='stylesheet' href='@routes.Assets.at("stylesheets/rtbf.css")'>

            <script src="@routes.Assets.at("javascripts/jquery.js")"></script>
            <script src="@routes.Assets.at("javascripts/jquery-ui.js")"></script>
            <script src="@routes.Assets.at("javascripts/dropdown.js")"></script>
            <script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
            <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
            <script src="@routes.Assets.at("javascripts/accordion.js")"></script>

        </head>
        <body>
            <header>
                <img class="pull-right" alt="Guardian-Logo" src="@routes.Assets.at("images/guardian-logo.png")">

                <h1>Right to be forgotten - Who has!</h1>
            </header>

            <content>
                <h2>Right to be forgotten toolset</h2>
                <div id="item1">
                    <p>Enter the URL of the article you wish to search on:</p>
                    <form class="search" action="/checkURL" method="get">
                        <div class="form-group">
                            <input type="text" name="url" class="form-control" placeholder="Search for article">
                            <button type="submit" class="btn btn-default active">Submit</button>
                        </div>
                        <h3>Search in progress</h3>
                        <div class="progress progress-striped progress-bar-success active">
                            <div class="progress-bar" style="width: 0%;"></div>
                        </div>
                    </form>
                    <h2>List of names of those that have the right to be forgotten:</h2>
                    <ul class="list-group">Names:
                        <li class="list-group-item">Jane McDonald</li>
                        <li class="list-group-item">Doctor Foster</li>
                        <li class="list-group-item">Mary Quant</li>
                        <li class="list-group-item">John Duffell</li>
                    </ul>
                </div>
            </content>
            <footer class="modal-footer">
                <p>&copy;2014 Guardian News and Media Limited or its affiliated companies. All rights reserved.</p>
            </footer>
        </body>
    </html>
</html>