@(title: String)(content: Html)

<!DOCTYPE html>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!-->
    <html class="no-js">
            <!--<![endif]-->
        <head>
            <title>@title</title>
            <link rel='shortcut icon' type='images/png' href='@routes.Assets.at("images/favicon.ico")'>

            <link rel='stylesheet' href='@routes.Assets.at("stylesheets/bootstrap.css")'>
            <link rel='stylesheet' href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
            <link rel='stylesheet' href='@routes.Assets.at("stylesheets/rtbf.css")'>

            <script src="@routes.Assets.at("javascripts/jquery.js")"></script>
            <script src="@routes.Assets.at("javascripts/jquery-ui.js")"></script>
            <script src="@routes.Assets.at("javascripts/dropdown.js")"></script>
            <script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
            <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
            <script src="@routes.Assets.at("javascripts/accordion.js")"></script>

        </head>
        <body>
            <header>
                <img class="pull-right" alt="Guardian-Logo" src="@routes.Assets.at("images/guardian-logo.png")">

                <h1>Right to be forgotten - Who has!</h1>
            </header>

            <content>
                <h2>Right to be forgotten toolset</h2>
                <div id="item1">
                    <form class="search" action="/incremental" method="get">
                        <p>Enter the URL of the article you wish to search on:</p>
                        <div class="form-group">
                            <input type="text" name="url" class="form-control" placeholder="Search for article">
                            <button type="submit" class="btn btn-default active">Submit</button>
                        </div>
                    </form>

                    <p><img class="pull-right" alt="Guardian-Logo" src="@routes.Assets.at("images/Google-500x250.jpg")">In line with a European court of Justice judgement, Google are removing search results for specific pages in relation to specific search terms made using European versions of the search engine. Google do not identify complainants, so this tool allows recipients of Right to be forgotten notifications to identify likely complainants via a search on the url of affected pages.</p>

                </div>
            </content>
            <footer class="modal-footer">
                <p>&copy;2014 Guardian News and Media Limited or its affiliated companies. All rights reserved.</p>
            </footer>
        </body>
    </html>
</html>